/* base.css - 全站共用基礎樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f3f1ef;
  color: #444;
}